{% extends "base.html" %}
{% load tailwind_filters %}

{% block title %}
    Registrácia
{% endblock %}

{% block content %}
    <div class="container mx-auto max-w-xl px-2 py-4">
        <div class="bg-white shadow-sm rounded-sm p-4">
            <h2 class="text-2xl font-bold mb-6 text-center uppercase text-gray-900">Staň sa naším čitateľom</h2>

            <form method="post" class="space-y-6">
                {% csrf_token %}
                <div class="space-y-4">
                    {{ form|crispy }}
                </div>

                <div class="mt-8">
                    <button type="submit" class="w-full py-3 px-4 bg-indigo-600 hover:bg-indigo-700 text-white font-bold rounded-lg transition duration-200">
                        Registrovať sa
                    </button>
                </div>

                <div class="text-center mt-4 text-sm text-gray-600">
                    Už máš účet?
                    <a href="{% url 'login' %}" class="text-blue-600 hover:text-blue-800 font-medium">
                        Prihlás sa
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}