{% extends "base.html" %}

{% block title %}{{ profile.user.username }}{% endblock %}

{% block content %}
    <div class="max-w-4xl mx-auto px-4 py-8 flex flex-col gap-4">
        <!-- Main Profile Information -->
        <div class="w-full sm:w-xl md:w-2xl lg:w-3xl mx-auto bg-white rounded-lg shadow">
            <div class="flex flex-col md:flex-row p-6 gap-6 items-center md:items-start">
                <!-- Profile Avatar -->
                <div class="relative">
                    {% if profile.avatar %}
                        <img src="{{ profile.avatar.url }}" alt="{{ profile.username }}"
                             class="w-24 h-24 md:w-28 md:h-28 rounded-full object-cover border-2 border-gray-200">
                    {% else %}
                        <div class="w-24 h-24 md:w-28 md:h-28 rounded-full bg-blue-500 flex items-center justify-center text-white text-3xl font-bold">
                            {{ profile.user.username|first|upper }}
                        </div>
                    {% endif %}

                    <!-- Role Badge -->
                    <div class="absolute bottom-0 right-0 bg-blue-600 text-white text-xs font-medium px-2 py-1 rounded-full">
                        {{ profile.role|title }}
                    </div>
                </div>
                <!-- Profile Info -->
                <div class="flex-1 text-center md:text-left">
                    <h1 class="text-2xl font-bold text-gray-800 border-b-2 border-gray-400">
                        {{ profile.user.first_name }} {{ profile.user.last_name }}
                    </h1>
                    <p class="text-gray-500 opacity-60 text-md mb-4">@{{ profile.user.username }}</p>
                    {% if profile.role == 'writer' and profile.bulletin %}
                        <a href="{% url 'bulletin_detail' profile.bulletin.slug %}"
                           class="px-4 py-2 bg-gray-50 text-gray-900 text-md rounded-sm text-center hover:bg-gray-200 transition border-1 border-gray-100 hover:border-gray-300">
                            {{ profile.bulletin }}
                        </a>
                    {% endif %}
                </div>

                <div class="flex flex-col">
                    {% if profile.user == user and profile.role == 'reader' %}
                        <form action="{% url 'promote_to_writer' username=user.username %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit"
                                    class="m-1 px-2 py-1 bg-gray-100 text-gray-800 text-sm uppercase rounded-xs text-center hover:bg-gray-200 transition border-1 border-gray-300">
                                Staň sa autorom
                            </button>
                        </form>

                        <form action="{% url 'promote_to_admin' username=user.username %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit"
                                    class="m-1 px-2 py-1 bg-gray-100 text-gray-800 text-sm uppercase rounded-xs text-center hover:bg-gray-200 transition border-1 border-gray-300">
                                Staň sa adminom
                            </button>
                        </form>
                    {% endif %}

                    {% if profile.user == user and profile.role == 'writer' and not profile.bulletin %}
                        <a href="{% url 'bulletin_create' %}"
                           class="m-1 px-2 py-1 bg-gray-100 text-gray-800 text-sm uppercase rounded-xs text-center hover:bg-gray-200 transition border-1 border-gray-300">
                            Vytvor svoj Bulletin
                        </a>
                    {% endif %}

                    <div class="w-full flex justify-center md:justify-end items-center">
                        {% if profile.user == user %}
                            <a href="{% url 'profile_update' username=user.username %}">
                                <svg class="w-10 h-10 p-1 pb-2 pl-2 bg-gray-50 text-sm rounded-md text-center hover:bg-gray-100 transition border-1 border-gray-100 hover:border-gray-300"
                                     fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 494.936 494.936"
                                     xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier"> <g> <g> <path
                                            d="M389.844,182.85c-6.743,0-12.21,5.467-12.21,12.21v222.968c0,23.562-19.174,42.735-42.736,42.735H67.157 c-23.562,0-42.736-19.174-42.736-42.735V150.285c0-23.562,19.174-42.735,42.736-42.735h267.741c6.743,0,12.21-5.467,12.21-12.21 s-5.467-12.21-12.21-12.21H67.157C30.126,83.13,0,113.255,0,150.285v267.743c0,37.029,30.126,67.155,67.157,67.155h267.741 c37.03,0,67.156-30.126,67.156-67.155V195.061C402.054,188.318,396.587,182.85,389.844,182.85z"></path>
                                        <path d="M483.876,20.791c-14.72-14.72-38.669-14.714-53.377,0L221.352,229.944c-0.28,0.28-3.434,3.559-4.251,5.396l-28.963,65.069 c-2.057,4.619-1.056,10.027,2.521,13.6c2.337,2.336,5.461,3.576,8.639,3.576c1.675,0,3.362-0.346,4.96-1.057l65.07-28.963 c1.83-0.815,5.114-3.97,5.396-4.25L483.876,74.169c7.131-7.131,11.06-16.61,11.06-26.692 C494.936,37.396,491.007,27.915,483.876,20.791z M466.61,56.897L257.457,266.05c-0.035,0.036-0.055,0.078-0.089,0.107 l-33.989,15.131L238.51,247.3c0.03-0.036,0.071-0.055,0.107-0.09L447.765,38.058c5.038-5.039,13.819-5.033,18.846,0.005 c2.518,2.51,3.905,5.855,3.905,9.414C470.516,51.036,469.127,54.38,466.61,56.897z"></path> </g> </g> </g></svg>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Biography -->
        <div class="w-full sm:w-xl md:w-2xl lg:w-3xl mx-auto bg-white rounded-lg shadow p-6">
            <h2 class="text-lg font-semibold text-gray-500 opacity-60 text-center uppercase">O mne</h2>
            {% if profile.biography %}
                <p class="mt-2 text-gray-700">
                    {{ profile.biography }}
                </p>
            {% endif %}
        </div>

        <!-- Informations about Profile's Likes, Subscriptions, Read-Later, Comments -->
        <div class="flex flex-col md:flex-row gap-2">
            <div class="bg-white rounded-lg shadow p-3 flex-1">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile_activity' username=user.username  %}">
                        <h2 class="px-4 py-2 mb-3 text-sm font-medium text-gray-700 opacity-60 text-center uppercase rounded-lg hover:bg-gray-100 hover:underline transition">Tvoja aktivita</h2>
                    </a>
                {% endif %}
                <div>
                    <h3 class="text-center text-md font-ligh text-gray-600 mb-3">Posledná aktivita</h3>
                </div>
                <!-- 7 posledych aktivit 'like' / 'comment' / 'save later' -->
            </div>

            <div class="bg-white rounded-lg shadow p-3 flex-2">
                <h2 class="text-lg font-semibold text-gray-500 opacity-60 text-center uppercase">Odbery</h2>

                {% if subscriptions %}
                    {% for subscription in subscriptions %}
                        <div class="flex flex-row items-center gap-4 m-2 p-2 hover:bg-gray-50 rounded-sm transition hover:cursor-pointer">
                            <div class="w-10 h-10 md:w-12 md:h-12 rounded-full bg-blue-800 flex items-center justify-center text-white text-3xl font-bold">
                                {{ subscription.bulletin.title|first|upper }}
                            </div>
                            <div class="flex-auto">
                                <h2 class="font-semibold text-gray-900 text-md">{{ subscription.bulletin.title }}</h2>
                                <p class="font-light text-gray-500 text-sm">{{ subscription.bulletin.owner }}</p>
                            </div>

                            {% if show_toggle_buttons %}
                                <form action="{% url 'toggle_subscription' subscription.bulletin.slug %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button type="submit"
                                            class="m-1 px-2 py-1 bg-gray-100 text-gray-800 text-sm uppercase rounded-sm text-center hover:bg-gray-200 transition border-1 border-gray-300 hover:cursor-pointer">
                                        prestať sledovať
                                    </button>
                                </form>
                            {% endif %}

                        </div>
                    {% endfor %}
                {% else %}
                    <div class="text-center py-4">
                        <p class="text-gray-500">Zatiaľ žiadne odbery.</p>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}