{% extends "base.html" %}

{% block title %}
    O Platforme
{% endblock %}

{% block content %}
    <section class="my-16">
        <h1 class="text-4xl text-gray-500 font-700 opacity-90 text-center mt-12 uppercase">O Platforme</h1>
        <p class="text-center text-gray-500 text-lg my-6">Moderná platforma pre autorský obsah a digitálne bulletiny</p>
    </section>
    <section class="container max-w-4xl mx-auto px-6 lg:px-12 text-center">

        <div class="mb-12 pb-12 border-b-2 border-gray-200">
            <h2 class="text-xl font-semibold mb-6 text-gray-950 uppercase">Naša platforma</h2>
            <p class="text-gray-700 text-lg">
                Euismod quam justo lectus commodo augue arcu dignissim. Habitasse platea dictumst lorem ipsum dolor sit
                amet. Ut hendrerit semper vel class aptent taciti sociosqu. Risus blandit quis suspendisse aliquet nisi
                sodales consequat. Cras eleifend turpis fames primis vulputate ornare sagittis. Placerat in id cursus mi
                pretium tellus duis. Natoque penatibus et magnis dis parturient montes nascetur. Etiam interdum tortor
                ligula congue sollicitudin erat viverra.
            </p>
        </div>

        <div class="mb-12 pb-12 border-b-2 border-gray-200">
            <h2 class="text-xl font-semibold mb-6 text-gray-950 uppercase">Kto je čitateľ</h2>
            <p class="text-gray-700 text-lg mb-2">Accumsan maecenas potenti ultricies habitant morbi senectus netus. Vivamus
                fringilla lacus nec metus bibendum egestas iaculis. Maximus eget fermentum odio phasellus non purus est.
                Lectus commodo augue arcu dignissim velit aliquam imperdiet.</p>
            <p class="text-gray-700 text-lg">Lorem ipsum dolor sit amet consectetur adipiscing elit. Vel class aptent
                taciti sociosqu ad litora torquent. Suspendisse aliquet nisi sodales consequat magna ante condimentum.
                Fames primis vulputate ornare sagittis vehicula praesent dui.</p>
        </div>

        <div class="mb-12 pb-12 border-b-2 border-gray-200">
            <h2 class="text-xl font-semibold mb-6 text-gray-950 uppercase">Kto je autor</h2>
            <p class="text-gray-700 text-lg mb-2">Cursus mi pretium tellus duis convallis tempus leo. Magnis dis parturient
                montes nascetur ridiculus mus donec. Ligula congue sollicitudin erat viverra ac tincidunt nam. Ultricies
                habitant morbi senectus netus suscipit auctor curabitur. Nec metus bibendum egestas iaculis massa nisl
                malesuada. Odio phasellus non purus est efficitur laoreet mauris. Arcu dignissim velit aliquam imperdiet
                mollis nullam volutpat.</p>
            <p class="text-gray-700 text-lg">Sit amet consectetur adipiscing elit quisque faucibus ex. Taciti sociosqu
                ad litora torquent per conubia nostra. Sodales consequat magna ante condimentum neque at luctus. Ornare
                sagittis vehicula praesent dui felis venenatis ultrices.</p>
        </div>

    </section>
{% endblock %}