{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/article-content.css">
{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-8">
        <!-- Article Content -->
        <article class="max-w-5xl mx-auto bg-white p-6 rounded shadow mb-12">
            <h1 class="text-xl font-bold text-gray-800 mb-3 text-center">{{ article.title }}</h1>

            <div class="flex flex-col mb-6 pb-4 border-b border-gray-200 justify-center items-center">
                <div class="text-gray-600">
                    {% if user.profile.role == 'writer' and article.bulletin == user.profile.bulletin %}
                        <div class="my-1">
                            {% if article.status == 'published' %}
                                <form method="POST" action="{% url 'visibility_toggle' article.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button type="submit" class="text-sm px-3 py-1 border-1 rounded-md font-medium hover:cursor-pointer border-gray-400 text-gray-600 hover:bg-gray-100">
                                        {% if article.visibility == 'public' %} zmeň na Súkromné {% else %} zmeň na Verejné {% endif %}
                                    </button>
                                </form>
                                {% elif article.status == 'draft' %}
                                <div class="text-gray-400 text-center">Form to set Draft to Publish.</div>
                                {% elif article.status == 'under_evaluation' %}
                                <div class="text-pink-400 text-center">Article is under evaluation of administrators.</div>
                            {% endif %}
                        </div>
                    {% else %}
                        <span class="text-sm">autor: <span class="font-medium text-gray-800">{{ article.author.full_name }}</span></span>
                    {% endif %}
                </div>

                <div class="text-gray-600 text-center">
                    {% if article.bulletin == user.profile.bulletin %}
                        <span class="text-sm my-2">vytvorené: <span class="font-medium text-gray-800">{{ article.created|date:"M d, Y" }}</span></span><br>
                    {% endif %}
                    {% if article.status == 'published' %}
                        <span class="text-sm">publikované: <span class="font-medium text-gray-800">{{ article.published|date:"M d, Y" }}</span></span>
                    {% endif %}
                </div>
            </div>
            <div class="article-content prose-sm sm:prose lg:prose-lg max-w-none">
                {% if article.visibility == 'public' %}
                    {{ article.content|safe }}
                {% elif article.visibility == 'private' %}
                    {% if user.is_authenticated %}
                        {% if is_subscribed or article.bulletin == user.profile.bulletin or user.profile.role == 'admin' %}
                            {{ article.content|safe }}
                        {% else %}
                            {{ article.content|safe|truncatewords:175 }}
                            <div class="w-md mx-auto px-4 py-12 mt-6 shadow-md rounded-md bg-gray-50 border-1 border-gray-100 flex flex-col gap-2 justify-center">
                                <form action="{% url 'toggle_subscription' article.bulletin.slug %}" method="post"
                                      class="flex justify-center items">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <p class="text-center text-gray-500">K prečítaniu súkromných článkov je nutné <br>
                                        <button type="submit"
                                                class="font-medium text-gray-700 hover:underline hover:text-gray-900 hover:cursor-pointer">
                                            odoberať bulletin
                                        </button>
                                        .
                                    </p>
                                </form>
                            </div>

                        {% endif %}
                    {% else %}
                        {{ article.content|safe|truncatewords:175 }}
                        <div class="w-md mx-auto px-4 py-12 mt-6 shadow-md rounded-md bg-gray-50 border-1 border-gray-100 flex flex-col gap-2 justify-center">
                            <p class="text-center text-gray-500">K prečítaniu súkromných článkov je nutné byť najprv <br>
                                <a href="{% url 'login' %}"
                                   class="font-medium text-gray-700 hover:underline hover:text-gray-900">prihlásený</a>.</p>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </article>

        {% if user.profile.role == 'writer' and article.bulletin == user.profile.bulletin %}
            <section>
                <!-- Author/Owner Actions -->
                <div class="max-w-md mx-auto mt-6 flex flex-row gap-4">
                    <a href="{% url 'article_edit' article.id %}" class="flex-1">
                        <p class="px-6 py-3 bg-gray-200 text-gray-800 rounded-md text-center hover:bg-gray-300 transition">
                            Edit Article
                        </p>
                    </a>
                    <a href="{% url 'article_delete' article.id %}" class="flex-1">
                        <p class="px-6 py-3 bg-red-100 text-red-600 rounded-md text-center hover:bg-red-200 transition">
                            Delete Article
                        </p>
                    </a>
                </div>
            </section>
        {% endif %}

        <!-- Comments Section -->
        <section class="max-w-5xl mx-auto bg-white p-6 rounded shadow">
            <h1 class="text-xl font-bold text-gray-800 mb-3 text-center uppercase">Čitateľská zóna</h1>
            <div class="flex flex-col lg:flex-row w-full justify-center items-start gap-4">
                <!-- Comment History -->
                <div class="w-full">
                    <h2 class="text-gray-600 font-light text-center uppercase">Diskusia prebieha</h2>
                </div>
                <!-- Comment Form -->
                <div class="w-full">
                    <h2 class="text-gray-600 font-light text-center uppercase">Zapoj sa do diskusie</h2>
                </div>
            </div>
        </section>
    </div>
{% endblock %}