{% extends "base.html" %}
{% load tailwind_filters %}
{% load content_tags account_tags %}

{% block title %}{{ article.title }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/article-content.css">
{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-8">
        <!-- Article Content -->
        <article class="max-w-5xl mx-auto bg-white p-6 rounded shadow mb-12">
            <div class="w-full flex flex-col items-center">
                <h1 class="text-xl text-center font-bold w-fit text-gray-800 mb-2">
                    {{ article.title }}</h1>
                {% if article.evaluation == approved_evaluation %}
                    <div class="bg-green-100 text-green-800 text-xs font-medium px-2 py-1 rounded-full">
                        Overený
                    </div>
                {% endif %}
            </div>

            <div class="flex flex-col mb-6 pb-4 border-b border-gray-200 justify-center items-center">
                <div class="text-gray-600">
                    {% if user.profile.role == writer_role and article.bulletin == user.profile.bulletin %}
                        <div class="my-1">
                            {% if article.status == published_status %}
                                <form method="POST" action="{% url 'visibility_toggle' article.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button type="submit"
                                            class="text-sm px-3 py-1 border-1 rounded-md font-medium hover:cursor-pointer border-gray-400 text-gray-600 hover:bg-gray-100">
                                        {% if article.visibility == public_visibility %} zmeň na Súkromné {% else %} zmeň na
                                            Verejné {% endif %}
                                    </button>
                                </form>
                            {% elif article.status == draft_status %}
                                <div class="text-gray-400 text-center">Form to set Draft to Publish.</div>
                            {% elif article.status == 'under_evaluation' %}
                                <div class="text-pink-400 text-center">Article is under evaluation of administrators.
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <span class="text-sm">autor: <span
                                class="font-medium text-gray-800">{{ article.author.full_name }}</span></span>
                    {% endif %}
                </div>

                <div class="text-gray-600 text-center">
                    {% if article.bulletin == user.profile.bulletin %}
                        <span class="text-sm my-2">vytvorené: <span
                                class="font-medium text-gray-800">{{ article.created|date:"M d, Y" }}</span></span><br>
                    {% endif %}
                    {% if article.status == published_status %}
                        <span class="text-sm">publikované: <span
                                class="font-medium text-gray-800">{{ article.published|date:"M d, Y" }}</span></span>
                    {% endif %}
                </div>
            </div>
            <div class="article-content prose-sm sm:prose lg:prose-lg max-w-none">
                {% if article.visibility == public_visibility %}
                    {{ article.content|safe }}
                {% elif article.visibility == private_visibility %}
                    {% if user.is_authenticated %}
                        {% if is_subscribed or article.bulletin == user.profile.bulletin or user.profile.role == admin_role %}
                            {{ article.content|safe }}
                        {% else %}
                            {{ article.content|safe|truncatewords:175 }}
                            <div class="w-md mx-auto px-4 py-12 mt-6 shadow-md rounded-md bg-gray-50 border-1 border-gray-100 flex flex-col gap-2 justify-center">
                                <form action="{% url 'toggle_subscription' article.bulletin.slug %}" method="post"
                                      class="flex justify-center items">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <p class="text-center text-gray-500">K prečítaniu súkromných článkov je nutné <br>
                                        <button type="submit"
                                                class="font-medium text-gray-700 hover:underline hover:text-gray-900 hover:cursor-pointer">
                                            odoberať bulletin
                                        </button>
                                        .
                                    </p>
                                </form>
                            </div>
                        {% endif %}
                    {% else %}
                        {{ article.content|safe|truncatewords:175 }}
                        <div class="w-md mx-auto px-4 py-12 mt-6 shadow-md rounded-md bg-gray-50 border-1 border-gray-100 flex flex-col gap-2 justify-center">
                            <p class="text-center text-gray-500">K prečítaniu súkromných článkov je nutné byť najprv
                                <br>
                                <a href="{% url 'login' %}"
                                   class="font-medium text-gray-700 hover:underline hover:text-gray-900">prihlásený</a>.
                            </p>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </article>

        <!-- Author/Owner Actions -->
        {% if user.profile.role == writer_role and article.bulletin == user.profile.bulletin %}
            <section class="bg-white max-w-sm mx-auto rounded-lg shadow mb-12 p-3 flex justify-center gap-4">
                <a href="{% url 'article_edit' article.id %}" class="flex-1">
                    <p class="px-6 py-3 text-gray-700 text-center border-gray-100 border-1 hover:bg-gray-100 hover:cursor-pointer rounded-md transition">
                        Editovať
                    </p>
                </a>
                <a href="{% url 'article_delete' article.id %}" class="flex-1">
                    <p class="px-6 py-3 text-pink-700 text-center border-pink-100 border-1 hover:bg-pink-100 hover:cursor-pointer rounded-md transition">
                        Zmazať
                    </p>
                </a>
            </section>
        {% endif %}

        <!-- Admin Actions -->
        {% if user.profile.role == admin_role %}
            <section class="bg-white w-fit h-fit px-6 py-4 mx-auto rounded-lg shadow mb-4">
                {% if article.evaluation == under_review_evaluation %}
                    <div class="flex flex-col items-center py-4">
                        <a href="{% url 'article_evaluation_dashboard' %}"
                           class="px-6 py-3 text-blue-400 text-center border-blue-100 border-1 hover:bg-blue-50 hover:cursor-pointer rounded-md transition">
                            Článok čaká na vyhodnotenie
                        </a>
                    </div>
                {% elif article.evaluation == approved_evaluation %}
                    <p class="px-6 py-3 text-green-700 text-center border-green-100 border-1 rounded-md bg-green-50">
                        Článok bol schválený a overený.
                    </p>
                {% elif article.evaluation == rejected_evaluation %}
                    <p class="px-6 py-3 text-red-700 text-center border-red-100 border-1 rounded-md bg-red-50">
                        Článok bol zamietnutý.
                    </p>
                {% else %}
                    <form method="post" action="{% url 'article_evaluation_toggle' article.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit"
                                class="px-6 py-3 text-gray-700 text-center border-gray-100 border-1 hover:bg-gray-100 hover:cursor-pointer rounded-md transition">
                            Začať proces overenia
                        </button>
                    </form>
                {% endif %}
            </section>
        {% endif %}

        <!-- Reader Actions -->
        {% if user.is_authenticated and not article.bulletin == user.profile.bulletin %}
            <section class="bg-white max-w-md mx-auto rounded-lg shadow-md my-6 p-4 grid grid-cols-2 gap-3">
                <form method="post" action="{% url 'toggle_like' article.id %}">
                    {% csrf_token %}
                    {% if is_liked %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit"
                                class="flex flex-col justify-center items-center border-2 border-red-300 bg-red-50 hover:bg-red-100 hover:cursor-pointer rounded-lg p-3 transition-all hover:scale-105">
                            <svg class="w-6 h-6 text-red-600 mb-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path d="M7.493 18.5c-.425 0-.82-.236-.975-.632A7.48 7.48 0 0 1 6 15.125c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75A.75.75 0 0 1 15 2a2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23h-.777ZM2.331 10.727a11.969 11.969 0 0 0-.831 4.398 12 12 0 0 0 .52 3.507C2.28 19.482 3.105 20 3.994 20H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 0 1-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227Z"/>
                            </svg>
                            <p class="text-red-700 text-xs font-bold">Páči sa mi</p>
                        </button>
                    {% else %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit"
                                class="flex flex-col justify-center items-center border-2 border-red-200 bg-white hover:bg-red-50 hover:cursor-pointer rounded-lg p-3 transition-all hover:scale-105">
                            <svg class="w-6 h-6 text-red-600 mb-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-1.085-.745-2.025-1.75-2.25.13-.815.734-1.5 1.5-1.5C23.244 4.5 24 5.256 24 6.25v11.5c0 .995-.756 1.75-1.75 1.75-1.157 0-2.147-.687-2.598-1.675A3 3 0 0 0 18.75 18c-1.657 0-3-1.343-3-3V6.75c0-.369.029-.736.087-1.092A5.996 5.996 0 0 0 6.75 4.5m12.458 0A8.998 8.998 0 0 0 6.75 4.5M7.5 10a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM3 17.25v2.25A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 19.5V17.25m-13.5-5.25h6m-6 4.5h6"/>
                            </svg>
                            <p class="text-red-600 text-xs font-bold">Páči sa mi</p>
                        </button>
                    {% endif %}
                </form>
                <form method="post" action="{% url 'toggle_read_later' article.id %}">
                    {% csrf_token %}
                    {% if is_read_later %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit"
                                class="flex flex-col justify-center items-center border-2 hover:bg-blue-100 hover:cursor-pointer rounded-lg p-3 transition-all hover:scale-105" style="border-color: #1e40af; background-color: #f0f4ff;">
                            <svg class="w-6 h-6 mb-1" style="color: #1e40af;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path fill-rule="evenodd" d="M6.32 2.577a49.255 49.255 0 0 1 11.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 0 1-1.085.67L12 18.089l-7.165 3.583A.75.75 0 0 1 3.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93Z" clip-rule="evenodd" />
                            </svg>
                            <p class="text-xs font-bold" style="color: #1e40af;">Uložené</p>
                        </button>
                    {% else %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit"
                                class="flex flex-col justify-center items-center border-2 bg-white hover:cursor-pointer rounded-lg p-3 transition-all hover:scale-105" style="border-color: #d4e3ff; background-color: #ffffff;">
                            <svg class="w-6 h-6 mb-1" style="color: #1e40af;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                            </svg>
                            <p class="text-xs font-bold" style="color: #1e40af;">Prečítať</p>
                        </button>
                    {% endif %}
                </form>
            </section>
        {% endif %}

        <!-- Comments Section -->
        <section class="max-w-5xl mx-auto bg-white p-6 rounded shadow">
            <h1 class="text-xl font-bold text-gray-800 mb-3 text-center uppercase">Čitateľská zóna</h1>
            <div class="flex flex-col lg:flex-row w-full justify-center items-start gap-4">
                <!-- Comment History -->
                <div class="w-full flex flex-col">
                    <h2 class="text-gray-600 font-light text-center uppercase mb-6">Diskusia prebieha</h2>
                    <div class="flex flex-col gap-2">
                        {% for comment in article.comments.all %}
                            <div class="px-6 py-3 rounded-md bg-gray-50 border-1 border-gray-100">
                                <p class="mb-2 text-gray-900">{{ comment.content }}</p>
                                <p class="text-center text-gray-600 font-medium text-xs">{{ comment.author.full_name }}</p>
                            </div>
                        {% empty %}
                            <div class="px-6 py-3 rounded-md border-1 border-gray-100 flex flex-col gap-3 justify-center items-center w-full lg:py-42 shadow">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                     class="size-18 text-gray-400">
                                    <path fill-rule="evenodd"
                                          d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z"
                                          clip-rule="evenodd"/>
                                </svg>
                                <p class="text-center text-gray-500 font-light">buď prvý, kto začne diskusiu</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Comment Form -->
                <div class="w-full">
                    <h2 class="text-gray-600 font-light text-center uppercase">Zapoj sa do diskusie</h2>
                    {% if not user.is_authenticated %}
                        <div class="w-md mx-auto px-4 py-12 mt-6 shadow-md rounded-md bg-gray-50 border-1 border-gray-100 flex flex-col gap-2 justify-center">
                            <p class="text-center text-gray-500">K pridaniu komentaru je nutné byť najprv <br>
                                <a href="{% url 'login' %}"
                                   class="font-medium text-gray-700 hover:underline hover:text-gray-900">prihlásený</a>.
                            </p>
                        </div>
                    {% elif article.visibility == public_visibility or article.visibility == private_visibility and is_subscribed or article.bulletin == user.profile.bulletin or user.profile.role == admin_role %}
                        <div class="w-md mx-auto px-4 py-12 mt-6 shadow-md rounded-md bg-gray-50 border-1 border-gray-100 flex flex-col gap-2 justify-center">
                            <form method="post">
                                {% csrf_token %}
                                {{ comment_form|crispy }}
                                <button type="submit" name="submit_comment"
                                        class="w-full py-3 px-4 bg-blue-600 hover:bg-blue-700 text-white font-bold rounded-lg transition duration-200">
                                    Odoslať komentár
                                </button>
                            </form>
                        </div>
                    {% elif article.visibility == private_visibility and not is_subscribed or not article.bulletin == user.profile.bulletin or not user.profile.role == admin_role %}
                        <div class="w-md mx-auto px-4 py-12 mt-6 shadow-md rounded-md bg-gray-50 border-1 border-gray-100 flex flex-col gap-2 justify-center">
                            <form action="{% url 'toggle_subscription' article.bulletin.slug %}" method="post"
                                  class="flex justify-center items">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <p class="text-center text-gray-500">Nemôžeš komentovať článok, ktorý nevidíš.<br>
                                    <button type="submit"
                                            class="font-medium text-gray-700 hover:underline hover:text-gray-900 hover:cursor-pointer">
                                        Prihlás sa na odber.
                                    </button>
                                </p>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}