{% extends "base.html" %}
{% load content_tags %}

{% block title %}
    Blog Platform
{% endblock %}

{% block content %}
    <section class="mb-24 mt-8" id="articles">
        <div class="mb-6">
            <h1 class="text-2xl font-medium opacity-70 text-center uppercase">Najnovšie články</h1>
            <p class="text-sm font-300 opacity-50 text-center italic">Najnovší obsah od našich autorov</p>
        </div>


        {% if featured_articles %}
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for article in featured_articles %}
                    <div class="
                        {% if forloop.first and page_obj.number == 1 %}
                            col-span-1 md:col-span-2 row-span-2
                            p-6 border-2 border-gray-300 rounded-xl shadow-lg hover:bg-gray-100 transition-all
                        {% else %}
                            p-4 border border-gray-200 rounded-lg hover:bg-gray-50 transition
                        {% endif %}
                    ">
                        <a href="{% url 'article_detail' article.id %}" class="flex flex-col h-full">
                            <h3 class="text-lg font-semibold mb-2">{{ article.title }}</h3>
                            <p class="text-gray-600 text-sm mb-auto">{{ article.description|truncatewords:25 }}</p>

                            <div class="flex flex-row items-center mt-4">
                                {% if article.visibility == private_visibility %}
                                    <span class="text-gray-500 p-1 border-1 border-gray-500 rounded-xl opacity-60">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                                            <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z" clip-rule="evenodd"/>
                                        </svg>
                                    </span>
                                {% endif %}

                                {% if article.evaluation == approved_evaluation %}
                                    <span class="bg-green-100 text-green-800 text-xs font-medium px-2 py-1 rounded-full mr-2">
                                        Overený
                                    </span>
                                {% endif %}

                                <p class="text-gray-400 text-sm ml-auto">{{ article.published|date:"M d, Y" }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <!-- Pagination -->
            {% include 'pagination.html' %}
        {% else %}
            <div class="text-center py-12">
                <p class="text-gray-500">Zatiaľ žiadne články.</p>
            </div>
        {% endif %}
    </section>

    <section class="mb-24" id="bulletins">
        <div class="my-4">
            <h1 class="text-xl font-medium opacity-70 text-center uppercase">Bulletiny</h1>
            <p class="text-sm font-300 opacity-50 text-center italic">Bulletiny, ktoré sú populárne medzi našimi
                čitateľmi.</p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mx-6 md:mx-0">
            {% for bulletin in popular_bulletins %}
                <a href="{% url 'bulletin_detail' bulletin.slug %}"
                   class="p-4 border border-gray-200 rounded-lg hover:bg-gray-50 transition">
                    <h3 class="text-lg font-semibold text-center">{{ bulletin.title }}</h3>
                    <p class="text-gray-600 text-sm mt-2">{{ bulletin.description|truncatewords:20 }}</p>
                </a>
            {% endfor %}
        </div>
    </section>

    <section class="mb-24" id="writers">
        <div class="my-4">
            <h1 class="text-xl font-medium opacity-70 text-center uppercase">Autori</h1>
            <p class="text-sm font-300 opacity-50 text-center italic">Autori, ktorí zaujali v poslednom čase najviac
                pozornosti.</p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mx-6 md:mx-0">
            {% for writer in recent_writers %}
                <a href="{% url 'profile' username=writer.user.username %}"
                   class="flex items-center p-4 border border-gray-200 rounded-lg hover:bg-gray-50 transition">
                    <img src="{{ writer.avatar.url }}" alt="{{ writer.username }}"
                         class="w-16 h-16 rounded-full mr-4 object-cover flex-none">
                    <div>
                        <h3 class="text-lg font-semibold"> {{ writer.user.first_name }} {{ writer.user.last_name }}</h3>
                        {% if writer.biography %}
                            <p class="text-gray-500 text-sm">{{ writer.biography|truncatewords:15 }}</p>
                        {% else %}
                            <p class="text-gray-500 text-sm">Zatiaľ bez biografie.</p>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>

    <section class="mb-24" id="readers">
        <div class="my-4">
            <h1 class="text-xl font-medium opacity-70 text-center uppercase">Čitatelia</h1>
            <p class="text-sm font-300 opacity-50 text-center italic">Noví čitatelia, ktorí sa k nám pridali.</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mx-6 md:mx-0">
            {% for reader in new_readers %}
                <a href="{% url 'profile' username=reader.user.username %}"
                   class="flex items-center p-4 border border-gray-200 rounded-lg hover:bg-gray-50 transition">
                    <img src="{{ reader.avatar.url }}" alt="{{ reader.username }}"
                         class="w-16 h-16 rounded-full mr-4 object-cover flex-none">
                    <div>
                        <h3 class="text-lg font-semibold"> {{ reader.user.first_name }} {{ reader.user.last_name }}</h3>
                        {% if reader.biography %}
                            <p class="text-gray-500 text-sm">{{ reader.biography|truncatewords:15 }}</p>
                        {% else %}
                            <p class="text-gray-500 text-sm font-light">zatiaľ bez biografie</p>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>

    </section>

    <section id="call-to-action" class="my-32">

    </section>
{% endblock %}