{% extends "base.html" %}

{% block title %}
    Q & A
{% endblock %}

{% block content %}
    <section class="my-16">
        <h1 class="text-4xl text-gray-500 font-700 opacity-90 text-center mt-12 uppercase">Otázky a odpovede</h1>
        <p class="text-center text-gray-500 text-lg my-6">Všetko čo potrebujete vedieť o našej platforme</p>
    </section>
    <section class="container max-w-6xl mx-auto px-6 lg:px-12 grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
            <h3 class="text-lg font-semibold mb-3">Ako si vytvorím účet?</h3>
            <p class="text-gray-600">Tempus leo eu aenean sed diam urna tempor. Mus donec rhoncus eros lobortis nulla molestie mattis. Tincidunt nam porta elementum a enim euismod quam. Auctor curabitur facilisi cubilia curae hac habitasse platea. Nisl malesuada lacinia integer nunc posuere ut hendrerit. Laoreet mauris pharetra vestibulum fusce dictum risus blandit. Vitae pellentesque sem placerat in id cursus mi. Himenaeos orci varius natoque penatibus et magnis dis. Finibus facilisis dapibus etiam interdum tortor ligula congue. Libero feugiat tristique accumsan maecenas potenti ultricies habitant. Urna tempor pulvinar vivamus fringilla lacus nec metus. Molestie mattis scelerisque maximus eget fermentum odio phasellus.</p>
        </div>
        <div>
            <h3 class="text-lg font-semibold mb-3">Aký je rozdiel medzi čitateľom a autorom?</h3>
            <p class="text-gray-600">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
        </div>
        <div>
            <h3 class="text-lg font-semibold mb-3">Aké sú stavy článkov?</h3>
            <p class="text-gray-600">Montes nascetur ridiculus mus donec rhoncus eros lobortis. Erat viverra ac tincidunt nam porta elementum a. Senectus netus suscipit auctor curabitur facilisi cubilia curae. Egestas iaculis massa nisl malesuada lacinia integer nunc. Purus est efficitur laoreet mauris pharetra vestibulum fusce. Aliquam imperdiet mollis nullam volutpat porttitor ullamcorper rutrum. Adipiscing elit quisque faucibus ex sapien vitae pellentesque. Litora torquent per conubia nostra inceptos himenaeos orci. Ante condimentum neque at luctus nibh finibus facilisis. Praesent dui felis venenatis ultrices proin libero feugiat.</p>
        </div>
        <div>
            <h3 class="text-lg font-semibold mb-3">Ako funguje odoberanie bulletinov?</h3>
            <p class="text-gray-600">Venenatis ultrices proin libero feugiat tristique accumsan maecenas. Aenean sed diam urna tempor pulvinar vivamus fringilla. Eros lobortis nulla molestie mattis scelerisque maximus eget. Elementum a enim euismod quam justo lectus commodo. Cubilia curae hac habitasse platea dictumst lorem ipsum. Integer nunc posuere ut hendrerit semper vel class. Vestibulum fusce dictum risus blandit quis suspendisse aliquet. Ullamcorper rutrum gravida cras eleifend turpis fames primis.</p>
        </div>






    </section>
{% endblock %}