{% extends "base.html" %}
{% load content_tags %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
    <div class="max-w-3xl mx-auto px-4 py-8 flex flex-col gap-2">
        <div class="bg-white rounded-lg shadow pt-6 pb-8 mb-3" style="border-top: 4px solid #1e40af;">
            <h2 class="text-center font-medium text-xl uppercase" style="color: #1e40af;">Ovladaci panel spravcov</h2>
        </div>

        <div class="bg-white rounded-lg shadow py-4 border-1 w-2/3 mx-auto" style="border-color: #1e40af;">
            <h2 class="text-center font-medium text-md mb-1 uppercase" style="color: #1e40af;">články na kontrolu</h2>
            <div class="text-center font-light text-gray-400 text-sm my-1">
                {% if unreviewed_articles %}
                    {% if unreviewed_articles.count == 1 %}
                        Na overenie zostáva <strong class="font-semibold text-gray-800">jeden</strong> článok.
                    {% elif unreviewed_articles.count > 1 and unreviewed_articles.count < 5 %}
                        Na overenie zostávajú
                        <strong class="font-semibold text-gray-800">{{ unreviewed_articles.count }}</strong>
                        články.
                    {% elif unreviewed_articles.count >= 5 %}
                        Na overenie zostáva
                        <strong class="font-semibold text-gray-800">{{ unreviewed_articles.count }}</strong>
                        článkov.
                    {% endif %}
                {% else %}
                    <p class="text-gray-400 font-light text-sm">Zatiaľ žiadne články na overenie.</p>
                {% endif %}
            </div>
        </div>

        <div class="w-full flex flex-col justify-center items-center my-6">
            {% if unreviewed_articles %}
                {% for article in unreviewed_articles %}
                    <div class="w-xl mb-1 p-1 bg-white rounded border border-gray-200">
                        <a href="{% url 'article_detail' article.id %}"
                           class="w-full flex flex-row justify-between items-center hover:cursor-pointer px-1">
                            <div class="flex flex-row justify-center items-center">
                                <h3 class="font-medium text-sm text-gray-800">
                                    {{ article.title }}
                                </h3>
                                <div class="flex items-center ml-2 text-xs text-gray-600">
                                    <span>({{ article.author.full_name }})</span>
                                </div>
                                <a href="{% url 'article_evaluation_decision' article.id %}" class="ml-6">
                                    <button type="submit" class="hover:bg-gray-100 p-1 rounded-lg hover:cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                             class="size-6">
                                            <path fill-rule="evenodd"
                                                  d="M13.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L11.69 12 4.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
                                                  clip-rule="evenodd"/>
                                            <path fill-rule="evenodd"
                                                  d="M19.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06L17.69 12l-6.97-6.97a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </a>
                    </div>
                {% empty %}
                    <div class="text-center py-10 border-1 border-gray-200 rounded-lg">
                        <h1 class="text-center my-12 text-2xl font-semibold text-gray-900">Žiadne články</h1>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="bg-white rounded-lg shadow py-4 border-1 w-2/3 mx-auto" style="border-color: #1e40af;">
            <h2 class="text-center font-medium text-md mb-1 uppercase" style="color: #1e40af;">archiv skontrolovaných článkov</h2>
            <div class="text-center font-light text-gray-400 text-sm my-1">
                {% if reviewed_articles %}
                    {% if reviewed_articles.count == 1 %}
                        Táto platforma má <strong class="font-semibold text-gray-800">jeden</strong> skontrolovaný
                        článok.
                    {% elif reviewed_articles.count > 1 and reviewed_articles.count < 5 %}
                        Táto platforma má
                        <strong class="font-semibold text-gray-800">{{ reviewed_articles.count }}</strong>
                        skontrolované články.
                    {% elif reviewed_articles.count >= 5 %}
                        Táto platforma má
                        <strong class="font-semibold text-gray-800">{{ reviewed_articles.count }}</strong>
                        skontrolovaných článkov.
                    {% endif %}
                {% else %}
                    <p class="text-gray-400 font-light text-sm">Zatiaľ žiadne články na overenie.</p>
                {% endif %}
            </div>
        </div>

        <div class="w-full flex flex-col justify-center items-center my-6">
            {% if reviewed_articles %}
                {% for article in reviewed_articles %}
                    <div class="w-xl mb-1 p-1 bg-white rounded border border-gray-200 flex flex-row
                        {% if article.evaluation == approved_evaluation %} border-l-3 border-l-green-500
                        {% elif article.evaluation == rejected_evaluation %} border-l-3 border-l-red-500{% endif %}">
                        <a href="{% url 'article_detail' article.id %}"
                           class="w-full flex flex-row items-center hover:cursor-pointer px-1">
                            <div class="flex flex-row justify-center items-center mr-auto">
                                <h3 class="font-medium text-sm text-gray-800">
                                    {{ article.title }}
                                </h3>
                                <div class="flex items-center ml-2 text-xs text-gray-600">
                                    <span>({{ article.author.full_name }})</span>
                                </div>
                            </div>
                            {% if user.is_superuser %}
                                <a a href="{% url 'article_delete' article.id %}">
                                    <button class="hover:bg-gray-100 p-1 rounded-lg hover:cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                          <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                </a>
                            {% endif %}
                        </a>
                    </div>
                {% empty %}
                    <div class="text-center py-10 border-1 border-gray-200 rounded-lg">
                        <h1 class="text-center my-12 text-2xl font-semibold text-gray-900">Žiadne články</h1>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}